language: python
sudo: enabled
notifications:
  email:
    recipients:
      - lika27@163.com
    on_success: change # default: change
    on_failure: always # default: always
python:
  - 3.5
before_install:
  - pip333 install -r requirements.txt
script:
  - python3 send_email.py
