language: python
sudo: enabled
notifications:
  email:
    recipients:
    on_success: change # default: change
    on_failure: always # default: always


python:
  - 3.6
before_install:
script:
  - python3 test.py
